<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Merkezi Kimlik Doğrulama Servisi</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://jasig.firat.edu.tr/cas/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://jasig.firat.edu.tr/cas/css/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css">
    <link href="https://jasig.firat.edu.tr/cas/css/plugins/iCheck/square/red.css" rel="stylesheet" type="text/css">
    <link href="https://jasig.firat.edu.tr/cas/css/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css">
    <link href="https://jasig.firat.edu.tr/cas/css/cas.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://jasig.firat.edu.tr/cas/favicon.ico" type="image/x-icon">
</head>
<body class="skin-red layout-top-nav">


<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" style="margin-left: 15px">
                        <img
                                src="https://jasig.firat.edu.tr/cas/images/logo.png"
                                style="margin-top: -5px; width: 30px; height: 30px;"
                        />
                    </a>
                    <a
                            class="navbar-brand"
                            style="margin-left: -15px; letter-spacing: 0.7"
                    >
                        <b>Fırat</b>
                        Üniversitesi
                    </a>
                    <button
                            type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar-collapse"
                    >
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="navbar-custom-menu">
                    <div
                            class="collapse navbar-collapse pull-left"
                            id="navbar-collapse"
                            style="position:relative; margin-left: 10px;"
                    >
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Kısayollar <span class="caret"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="content-wrapper" style="min-height: 546px">
        <div class="container">
            <div class="login-box">
                <div class="login-logo">
                    <a>
                        <b>Merkezi Kimlik Doğrulama Servisi</b>
                    </a>
                </div>
                <div class="login-box-body">
                    <div class="box fl-panel" id="login">

                        <form class="fm-v clearfix" method="post" action="#">
                            <h4>
                                <p class="login-box-msg">
                                    Kullanıcı Adı ve Parolanızı giriniz
                                </p>
                            </h4>
                            <div class="form-group has-feedback">
                                <a>English</a>| <a>Türkçe</a>
                            </div>
                            <div class="form-group has-feedback">
                                <input
                                        id="username"
                                        name="username"
                                        class="form-control"
                                        tabindex="1"
                                        placeholder="E Posta"
                                        type="text"
                                />
                            </div>
                            <div class="form-group has-feedback">
                                <input
                                        id="password"
                                        name="password"
                                        class="form-control"
                                        tabindex="2"
                                        placeholder="Parola"
                                        type="password"
                                />
                            </div>
                            <div class="row">
                                <input
                                        class="btn btn-primary btn-block btn-danger"
                                        name="submit"
                                        accesskey="l"
                                        value="GİRİŞ"
                                        tabindex="4"
                                        type="submit"
                                />
                            </div>
                            <br/>
                            <a>Şifre Değiştir</a>|<a>Şifremi Unuttum</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Bilgi İşlem Daire Başkanlığı</b>
        </div>
        <strong>
            Copyright © 2016 <a>Fırat Üniversitesi</a>
        </strong>
    </div>
</footer>

</body>
</html>